:root{
    --background-color: #EADFCE;
    --nav-bgColor: #633D30;
    --nav-linksColor: #F2E3D1;
    --title-color: #7C3A15;
    --sub-text-color: #9A674A;
    --footer-color: #ECE3DD;
    --title-font: "Titillium Web", sans-serif;
    --sub-text-font: "Montserrat", sans-serif;
    --logo-font: "Dancing Script", cursive;
}


body{
    background-color: var(--background-color);
    margin: 0;
}

/* navbar and logo style */

.navbar{
    background-color: var(--nav-bgColor);
    font-family: var(--title-font);
    padding: 3px;
}

.navbar-links{
    list-style: none;
    margin: 10px;
}

.link{
    text-decoration: none;
    color: var(--nav-linksColor);
    font-family: var(--subtext-font);
    font-size: 1.1rem;
    margin: 0 20px;
    cursor: pointer;
}

.link:hover{
    border: none;
    border-bottom: 1px solid var(--background-color);
    color: white;
}

.nav-link{
    display: inline;
}

.logo{
    font-size: 1.2rem;    
}

.logo span{
    font-family: var(--logo-font);
    color: rgb(252, 254, 255);
}

.login{
    background-color: var(--background-color);
    border-radius: 5px;
    color: var(--nav-bgColor);
    padding: 2px 7px;
}
.login:hover{
    color: var(--sub-text-color);
}

/* hero section style */

hr{
    border: 0.5px solid var(--nav-bgColor);
}


.hero-section{
    margin: 50px 50px 100px;
}

/* left hero section */
.left-hero-section{
    display: inline-block;
    width: 50%;
    margin: 30px 0 20px 30px;
    text-align: justify;
    text-justify: inter-word;
}

.hero-text{
    font-family: var(--logo-font);
    color: var(--sub-text-color);
    font-size: 5.6rem;
    display: inline;
    line-height: 1.2;
}

.hero-text span{
    color: var(--title-color);
    font-family: var(--title-font);
}

.hero-subtext{
    font-family: var(--sub-text-font);
    font-size: 1.9rem;
    color: var(--sub-text-color);
}


/* right hero section */
.right-hero-section{
    display: inline-block;
}
.hero-img{
    width: 60%;
    height: 116%;
    position: absolute;
    right: 199px;
    top: 2px;
    filter: drop-shadow(20px 10px 12px var(--nav-bgColor));
    rotate: -13deg;
}

/* About us section style */

.about-hr{
    border: 0.5px solid var(--nav-bgColor);
    width: 50%;
    margin-bottom: 50px;
}

.about-section{
    margin: 50px;
    text-align: center;
    font-family: var(--sub-text-font);
    display: inline;
    justify-content: center;

}


.about-title{
    font-size: 3rem;
    font-weight: 400;
    color: var(--title-color);
    margin-bottom: 20px;
    font-family: var(--title-font);
}
.about-sub-text{
    font-size: 1.4rem;
    color: var(--sub-text-color);
    margin-bottom: 50px;
    font-weight: 300;
}

/* quality div style */

.quality-div{
    width: 20vw;
    display: inline-block;
    margin: 20px 20px;
    text-align: justify;
    text-justify: inter-word;
    padding: 10px;
    text-align: center;
}

.quality-subtext{
    font-family: var(--subtext-font);
    color: var(--sub-text-color);
    font-size: 0.9rem;
}

.quality-text{
    text-align: center;
    font-family: var(--title-font);
    color: var(--title-color);
}
.quality-1{
    margin-left: 220px;
}

.quality-img{
    width: 160px;
    height: 160px;
    border-radius: 3px;
}

button{
    background-color: var(--nav-linksColor);
    border: 1px solid var(--nav-bgColor);
    padding: 10px;
    border-radius: 3px;
    margin-left: 5px;
    cursor: pointer;
    color: var(--nav-bgColor);
    font-family: var(--title-font);
    font-weight: 500;
}

button:hover{
    background-color: var(--sub-text-color);
    color: var(--background-color);
}

/* popular product section style */

.products-section{
    margin: 50px;
    text-align: center;
    font-family: var(--sub-text-font);
    display: inline;
    justify-content: center;
}

.product-text{
    font-size: 3rem;
    font-weight: 400;
    color: var(--title-color);
    margin-bottom: 20px;
    font-family: var(--title-font);
}


.product{
    width: 25vw;
    display: inline-block;
    margin: 20px 15px;
    text-align: justify;
    text-justify: inter-word;
    padding: 10px;
    text-align: center;
}

.product-img{
    width: 200px;
    height: 200px;
    border-radius: 3px;
}

.product-name{
    text-align: center;
    font-family: var(--title-font);
    color: var(--title-color);
}
.price{
    font-family: var(--subtext-font);
    color: var(--sub-text-color);
    font-size: 1rem;
}
/* more product button */
.more-product-btn{
    display: block;
    text-align: center;
    margin: 10px auto;
    background-color: var(--nav-bgColor);
    color: var(--background-color);
    font-size: 1rem;
}

.product-div-1{
    margin-left: 95px;

}

/* footer style */

.footer-section{
    background-color: var(--footer-color);
    margin-top: 15px;
    text-align: center;
}

.media, .location, .contact{
    margin: 15px 10px 0;
    padding: 20px;
    display: inline-block;
    text-align: center;
    width: 20%;
}

.contact{
    margin-right: 100px;
}

.copyright{
    padding-bottom: 20px;
    margin: 0 100px 0 0;
    font-family: var(--sub-text-font);
    color: var(--sub-text-color);
    font-weight: 300;
    font-size: 1rem;
}

.contact-title, .location-title, .media-title{

    font-family: var(--title-font);
    color: var(--title-color);
    font-size: 1.3rem;
    font-weight: 500;
    font-weight: 400;
}
.contact-text, .location-text{
    font-family: var(--sub-text-font);
    color: var(--sub-text-color);
    font-size: 1.1rem;
}

.fa-brands{
    color: var(--nav-bgColor);
    margin: 0 10px;
}

/* responsiveness for mobile view */

@media (max-width: 550px) {
   .right-hero-section{
    display: block;
    width: 90vw;
    margin: 20px auto;
    text-align: center;
   }
   .hero-img{
    position: relative;
    width: 100%;
   }
   .left-hero-section{
    text-align: left;
   }

   .quality-div{
    text-align: center;
    display: block;
    width: 90vw;
   }

   .quality-1{
    margin-left: 0;

   }

   .product{
    display: block;
    text-align: center;
    width: 90vw;
   }

   .product-div-1{
    margin: 10px;
   }

   .media, .contact, .location{
    display: block;
    width: 90vw;
   }
   .copyright{
    margin-left: 0;
   }
}



